/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */

.double-column{
  float: left;
  width: 65.66%;
  display: block;

}
.single-column{
  float: right;
  width: 32.33%;
  display: block;
 
}


.img-cont-left{
  float: left;
  width: 33.33%;
  margin-top: 15px;
  padding-right: 15px;
}

.img-cont-right{
  float: left;
  width: 33.33%;
  margin-top: 15px;
  padding-left: 15px;
}

.img-cont-center{
  float: left;
  width: 33%;
  margin-top: 15px;
  padding-left: 5px;
   padding-right: 5px;
}

.img-cont{
  float: left;
  width: 31%;
  margin: 1%;
  
  
}

#left-cont{

  float: left;
}

 #right-cont{
  float: right;


}


.col-2{
  width: 32%;
}

.row {
  clear: both;
  margin-bottom: 2%;
}

[class*="col-"] {
    float: left;
    margin-left: 2%;
  }
  
[class*="col-"]:first-child {
  margin-left: 0;
}


